---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Container from '../components/Container.astro'
import { Image } from 'astro:assets'
import tour1 from '../../public/images/tour1.jpg'
import tour2 from '../../public/images/tour2.jpg'
import tour3 from '../../public/images/tour3.jpg'
import tour4 from '../../public/images/tour4.jpg'
import rollingSlider1 from '../../public/images/rolling-slider1.jpg'
import about1 from '../../public/images/about.jpg'
---

<Layout active='home' title='Welcome to Bike Route.'>
  <article>
    <svg
      class='astro-a'
      width='495'
      height='623'
      viewBox='0 0 495 623'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      aria-hidden='true'
    >
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z'
        fill='url(#paint0_linear_1805_24383)'></path>
      <defs>
        <linearGradient
          id='paint0_linear_1805_24383'
          x1='247.358'
          y1='0'
          x2='247.358'
          y2='622.479'
          gradientUnits='userSpaceOnUse'
        >
          <stop stop-opacity='0.9'></stop>
          <stop offset='1' stop-opacity='0.2'></stop>
        </linearGradient>
      </defs>
    </svg>
    <div class="min-h-[124px] bg-[url('./images/kazimierz-dolny.png')] bg-cover">
      <h1 class='page-title'>Discover <span class='text-gradient'>Kazimierz Dolny</span> by Bike</h1>
      <p class='instructions'>
        Welcome to an unforgettable cycling experience in Kazimierz Dolny, where the picturesque landscapes and charming streets invite you to explore at your own pace. 
        Whether you're an avid cyclist or a casual rider, our curated bike routes offer something for everyone.
        <br />
        <strong>Embark on a Journey:</strong> Ride through the lush countryside, historic sites, and along the Vistula River, uncovering the hidden gems of this enchanting town.
      </p>
      <ul role='list' class='link-card-grid'>
        <Card
          href='#route-guide'
          title='Route Guide'
          body='Get detailed maps and descriptions of the best cycling routes in Kazimierz Dolny.'
        />
        <Card
          href='#bike-rentals'
          title='Bike Rentals'
          body='Need a bike? Find out where to rent high-quality bikes for your adventure.'
        />
        <Card
          href='#local-attractions'
          title='Local Attractions'
          body='Discover must-see spots and landmarks to visit during your ride.'
        />
        <Card
          href='#safety-tips'
          title='Safety Tips'
          body='Stay safe on your journey with our essential cycling safety tips.'
        />
      </ul>
    </div>
  </article>

<section>
	<div class="home-about" id="about-area">
		<div class="container mx-auto">
			<div class="flex justify-start">
				<div class="about-title about-title-1 text-left text-2xl font-bold">About Us</div>
			</div>
		</div>
		<div class="container mx-auto mt-8">
			<div class="flex flex-wrap">
				<div class="w-full lg:w-1/2">
					<div class="flex justify-start">
						<div class="about-image about-image-1 relative">
							<Image src={about1} alt='about' format='webp' class="w-full h-auto" />
							<div class="overlay-content absolute inset-0 flex items-center justify-center text-center bg-black bg-opacity-50 text-white p-4">
                Welcome to Bike Route, where your journey begins! We are passionate about cycling and dedicated to providing the best routes, tips, and tours to help you explore the world on two wheels. Whether you're a seasoned cyclist or just starting out, we have something for everyone.							</div>
							<span></span>
						</div>
					</div>
				</div>
				<div class="w-full lg:w-1/3 lg:ml-auto mt-8 lg:mt-0">
					<p class='mt-4'>
						At Bike Route, we believe in the joy of discovery that comes with each pedal stroke. Our mission is to inspire and guide you through some of the most beautiful and challenging terrains. Join us as we explore scenic paths, hidden gems, and the thrill of the open road.
					  </p>
				</div>
			</div>
		</div>
	</div>
	
</section>

<section>
    <div class='home-rolling'>
      <div class='container mx-auto'>
        <div class='flex flex-wrap'>
          <div class='w-full lg:w-1/2'>
            <div class='rolling-content'>
              <div class='rolling-title text-3xl font-bold'>Keep<br />on Rolling</div>
              <p class='mt-4'>
                At Bike Route, we keep the wheels turning with our exclusive tips, guides, and tour recommendations. Whether you're navigating city streets or rural backroads, our resources are here to ensure your journey is safe, fun, and fulfilling. Let's keep exploring!
              </p>
            </div>
          </div>
          <div class='relative w-full lg:w-1/2'>
            <div class='home-rolling-slider'>
              <div class='single-item'>
                <Image src={rollingSlider1} alt='tour' format='webp' class='' />
              </div>
            </div>
            <span></span>
          </div>
        </div>
      </div>
      <div class='ceramic animated slideRotateFromRight'>Ceramic Speed</div>
    </div>
</section>

  <Container>
	<section>
	    <div class='flex justify-center py-12'>
      <div class='lg:w-12/12 w-full'>
        <div class='text-center'>
          <h2 class='text-3xl font-bold'>Featured Tours</h2>
          <span class='text-base'
            > Discover some of our most popular and breathtaking cycling tours. These routes have been handpicked for their scenic beauty, challenging terrain, and unforgettable experiences.</span
          >
        </div>
      </div>
    </div>
    <div class='-mx-4 flex flex-wrap'>
      <div class='mb-8 w-full px-4 lg:w-1/2'>
        <div class='flex flex-wrap'>
          <div class='w-full px-4 lg:w-1/2'>
            <Image src={tour1} alt='tour' format='webp' class='' />
          </div>
          <div class='w-full px-4 lg:w-1/2'>
            <div class='content-bottom'>
              <h1 class='mb-2 border-b-2 border-red-500 pb-2 text-xl font-bold'>
                Biking (photo) Tour
              </h1>
              <span class='text-gray-700'
                >Capture the essence of your journey with our Biking Photo Tour. Explore picturesque routes while honing your photography skills. Perfect for those who love to combine cycling with creativity.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class='mb-8 w-full px-4 lg:w-1/2'>
        <div class='flex flex-wrap'>
          <div class='w-full px-4 lg:w-1/2'>
            <Image src={tour2} alt='tour' format='webp' class='' />
          </div>
          <div class='w-full px-4 lg:w-1/2'>
            <div class='content-bottom'>
              <h1 class='mb-2 border-b-2 border-red-500 pb-2 text-xl font-bold'>Go for Hike</h1>
              <span class='text-gray-700'
                >Take a break from the bike and explore on foot. Our guided hikes offer a chance to immerse yourself in nature, with trails that take you through stunning landscapes.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class='mb-8 w-full px-4 lg:w-1/2'>
        <div class='flex flex-wrap'>
          <div class='w-full px-4 lg:w-1/2'>
            <div class='content-bottom'>
              <h1 class='mb-2 border-b-2 border-red-500 pb-2 text-xl font-bold'>
                Lost in Small Streets
              </h1>
              <span class='text-gray-700'
                > Experience the charm of getting lost in the maze of small streets. This tour takes you through the hidden alleys and quaint neighborhoods, where every turn brings a new surprise.</span
              >
            </div>
          </div>
          <div class='w-full px-4 lg:w-1/2'>
            <Image src={tour3} alt='tour' format='webp' class='' />
          </div>
        </div>
      </div>
      <div class='mb-8 w-full px-4 lg:w-1/2'>
        <div class='flex flex-wrap'>
          <div class='w-full px-4 lg:w-1/2'>
            <div class='content-bottom'>
              <h1 class='mb-2 border-b-2 border-red-500 pb-2 text-xl font-bold'>
                Eat & Drink Like a Local
              </h1>
              <span class='text-gray-700'
                > Savor the local flavors with our culinary tour. This experience combines cycling with stops at the best local eateries and cafes, offering a taste of authentic cuisine.</span
              >
            </div>
          </div>
          <div class='w-full px-4 lg:w-1/2'>
            <Image src={tour4} alt='tour' format='webp' class='' />
          </div>
        </div>
      </div>
    </div>	
	</section>

  </Container>
</Layout>

<style>
  :root {
    --accent-light: rgb(239 68 68);
    --accent-dark: #23262d;

    --main-color: rgb(239 68 68);
    --base-font-size: 1rem; /* Set base font size */
  }

  article {
    margin: auto;
    padding: 1rem;
    width: 50rem; /* 800px */
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 1.25rem; /* 20px */
    line-height: 1.6;
  }

  .astro-a {
    position: absolute;
    top: -2rem; /* -32px */
    left: 50%;
    transform: translateX(-50%);
    width: 13.75rem; /* 220px */
    height: auto;
    z-index: -1;
  }

  .page-title {
    color: rgb(239 68 68);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    color: #23262d;
    /* background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%; */
  }

  .instructions {
    color: #23262d;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 0.5rem; /* 8px */
  }

  .instructions code {
    font-size: 0.8rem;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 0.25rem; /* 4px */
    padding: 0.3rem 0.4rem;
  }

  .instructions strong {
    color: rgb(239 68 68);
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  .home-rolling .rolling-content {
    position: relative;
  }

  @media only screen and (max-width: 62em) { /* 991px */
    .home-rolling .rolling-content .rolling-title {
      font-size: 4.063rem; /* 65px */
      line-height: 4.063rem;
      margin-bottom: 3.75rem; /* 60px */
    }

    .rolling-content {
      margin-bottom: 6.25rem; /* 100px */
    }

    .home-about .about-title {
      margin-top: 4.375rem !important; /* 70px */
      font-size: 3.75rem; /* 60px */
      text-align: center;
    }
  }

  .home-rolling .rolling-content .rolling-title {
    font-size: 6.25rem; /* 100px */
    font-weight: 900;
    color: var(--heading-color);
    margin-bottom: 3.625rem; /* 58px */
    line-height: 6.25rem;
  }

  .home-rolling .rolling-content p {
    color: var(--paragraph-color);
    font-size: 1.125rem; /* 18px */
    letter-spacing: 0.025em;
    font-weight: 400;
    line-height: 2.188rem; /* 35px */
    padding-right: 2.188rem; /* 35px */
  }

  @media only screen and (max-width: 75em) { /* 1199px */
    .home-rolling .ceramic,
    .home-about .ceramic {
      display: none;
    }
  }

  .home-rolling .ceramic {
    position: absolute;
    color: #8e8e8e;
    font-size: 1.25rem; /* 20px */
    letter-spacing: 0;
    left: -2.5rem;
    top: 0;
  }

  .slideRotateFromRight {
    -webkit-animation-name: slideRotateFromRight;
    animation-name: slideRotateFromRight;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @keyframes slideRotateFromRight {
    0% {
      -webkit-transform: translate3d(100%, 0, 0) rotate(90deg);
      transform: translate3d(100%, 0, 0) rotate(90deg);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
      transform: translate3d(0, 0, 0) rotate(90deg);
      visibility: visible;
    }
  }

  .home-rolling {
    margin-bottom: 0.75rem; /* 12px */
    margin-top: 8.438rem; /* 135px */
    position: relative;
  }

  @media only screen and (max-width: 48em) { /* 768px */
    .home-rolling span {
      display: none;
    }
  }

  .home-rolling span {
    position: absolute;
    width: 8.75rem; /* 140px */
    height: 0.625rem; /* 10px */
    background: rgb(239 68 68);
    top: 3.438rem; /* 55px */
    left: -4.688rem; /* 75px */
  }

  /* about us section */
  .home-about .about-title {
    font-size: 6.25rem; /* 100px */
    font-weight: 900;
    line-height: 6.25rem;
    color: var(--heading-color);
    margin-top: 5.125rem; /* 82px */
    margin-bottom: 2.813rem; /* 45px */
  }

  .home-about .about-image span {
    position: absolute;
    width: 0.625rem; /* 10px */
    height: 8.75rem; /* 140px */
    background: var(--main-color);
    top: -3.875rem; /* 62px */
    left: 5.688rem; /* 91px */
  }

  .home-about .about-image {
    position: relative;
  }

  @media only screen and (max-width: 36em) { /* 575px */
    .home-about .about-image span {
      display: none;
    }
  }

  @media only screen and (max-width: 87.5em) { /* 1400px */
    .home-about .about-title {
      margin-left: 1%;
      font-size: 5rem; /* 80px */
    }
  }
</style>

